{% extends "base.html" %}

{% block content %}
  {{ super() }}
<br>
<h2>Welcome to the Broad Domains DataBase</h2>
<br>
<h3>Broad Domains constrain transcriptional variability at key cell identity and function genes</h3>
<br>
<div class="span12 pagination-centered">
<block>
  Berenice A. Benayoun*<span class='super'>1</span>,Elizabeth A. Pollina*<span class='super'>1,2</span>,
  Duygu Ucar*<span class='super'>1</span>, Edith Wong<span class='super'>1</span>, 
  Elena Mancini<span class='super'>1</span>, Salah Mahmoudi<span class='super'>1</span>, 
  Benjamin Hitz<span class='super'>1</span>, Keerthana Devarajan<span class='super'>1</span>,
  Rhaki Gupta<span class='super'>1</span>,Thomas A. Rando<span class='super'>3</span>,
  Julie C. Baker<span class='super'>1</span>, Michael P. Snyder<span class='super'>1</span>,
  J. Michael Cherry<span class='super'>1</span>, and Anne Brunet<span class='super'>1,2,3</span>
  <br><br>
  *These authors contributed equally to this work.
  <br>
<span class='super'>1</span>Department of Genetics, Stanford University School of Medicine, Stanford, CA 94306, USA<br>
<span class='super'>2</span>Cancer Biology Program, Stanford University, Stanford CA 94305, USA<br>
<span class='super'>3</span>Glenn Laboratories for the Biology of Aging at Stanford University, Stanford CA94305,USA<br>
<br>

<h4>SUMMARY</h4><br>
<block>Trimethylation of Histone H3 at Lysine 4 (H3K4me3) is a chromatin modification
traditionally known to mark the transcription start sites of active genes. Here we identify
another ‘flavor’ of H3K4me3 deposition that spreads broadly over genes and is present in
all cells and species tested. Broad H3K4me3 domains are underlied by a complex
epigenomic signature for which breadth is a simple proxy. Broad H3K4me3 domains are
remodeled upon cell identity changes and preferentially mark genes that are essential for
identity and function of a given cell. Experiments in neural stem/progenitor cells confirm
that broad H3K4me3 domains can be used as a discovery tool to identify new regulators
of these cells. This chromatin signature differs from other signatures associated with cellspecific
transcription. Remarkably, genes marked by broad H3K4me3 domains have
reduced transcriptional variability. Thus, broad H3K4me3 domains may serve to ensure
the transcriptional robustness of critical cell identity genes, and we have named them
‘Buffer Domains’. </block>
<br>
</div>

<hr>

<div id='how_to_cite' class='span12 pagination-centered'><h6>How to cite the BDDB</h6>
<span class='small'>If you use this resource, please acknowledge the BDDB paper.
</span>
</div>

<hr>

<div id='Website developpers' class='span12 pagination-centered'><h6>About the Website</h6>
<span class='small'>This website was designed and created by Edith Wong with the help of Benjamin Hitz. 
<br><br>
Romain Poncet helped deploy the website.
<br><br>
Berenice Benayoun maintains the BDDB MySQL database.
</span>
</div>

{% endblock %}


