<!-- extend from base layout -->
{% extends "base.html" %}

{% block formcontent %}
<div class='span4'>
<form enctype="multipart/form-data" action="" method="post" name="upload">
    {{form.hidden_tag()}}
    <div> All fields are required</div>
     <div>{{ form.name.label }} {{ form.name }} </div>
     <div> {{ form.email.label }} {{ form.email }} </div>
     <div>{{ form.subject.label }} {{ form.subject }} </div>
     <div> {{ form.peakcaller.label }}  {{ form.peakcaller }} </div>
     <div>{{ form.supplementalinfo.label }} {{ form.supplementalinfo }} </div>
     <div> {{ form.filename.label }} {{ form.filename }} </div>    
    <button type="submit" class="btn" id='submitSearch'>Submit</button> 
</form>   
</div>

{% endblock %}